@font-face {
  font-family: MoonBright;
  src: url("https://cdn.glitch.com/473ee194-8456-41ee-baa2-e80952924275%2FMoonbright%20Demo.ttf?v=1605615287512");
}

@font-face {
  font-family: FriendlySchoolmates;
  src: url("https://cdn.glitch.com/473ee194-8456-41ee-baa2-e80952924275%2FFriendly-Schoolmates.otf?v=1605615317194");
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 22px;
}

/*------------------------Home Page------------------------*/

/* Slideshow of Kate and her studio*/

/* Slideshow Container */
.mySlides {
  width: 100%;
  height: auto;
}

/* Slideshow Photos */
.index1 {
  background-image: url("https://cdn.glitch.com/473ee194-8456-41ee-baa2-e80952924275%2Findex_photo1.jpg?v=1605611606321");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 650px;
}

.index2 {
  background-image: url("https://cdn.glitch.com/473ee194-8456-41ee-baa2-e80952924275%2Findex_photo2.png?v=1605611609458");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 650px;
}

.index3 {
  background-image: url("https://cdn.glitch.com/473ee194-8456-41ee-baa2-e80952924275%2Findex_photo3.jpg?v=1605611612427");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 650px;
}

.index4 {
  background-image: url("https://cdn.glitch.com/473ee194-8456-41ee-baa2-e80952924275%2Findex_photo5.jpg?v=1605611629827");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 650px;
}

.index5 {
  background-image: url("https://cdn.glitch.com/473ee194-8456-41ee-baa2-e80952924275%2Findex_photo6.jpg?v=1605611664613");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 650px;
}

/* Slideshow Fade Animation*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*Navbar for Index Page*/
nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 20px;
  padding-left: 20px;
  font-family: "Heebo", sans-serif;
  font-weight: 500px;
  font-size: 18px;
}

.navbar1 {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

.navbar1 li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.navbar1 li a:hover {
  color: #f28485;
}

.insta,
.twitter {
  color: black;
  font-size: 18px;
}

/* Home Page Footer */
footer {
  color: white;
  font-family: "Heebo", sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-top: 520px;
  padding-left: 30px;
}

/*------------------------About Page------------------------*/

/*Navbar for About Page, Works Page & Contact Page*/

.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-family: "Heebo", sans-serif;
  list-style-type: none;
  font-size:30px;
}

.logo li a {
  text-decoration: none;
  color: black;
}

.logo li a:hover {
  color: #f28485;
}

.navbar2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

.navlinks a {
  font-family: "Lato", sans-serif;
  display: block;
  text-decoration: none;
  color: black;
  padding: 10px;
  cursor: pointer;
}

.navlinks a:hover {
  color: #f28485;
}

.menu {
  display: none;
}

.menu:hover {
  color: #f28485;
}

/*Content for About Page*/

.about_parent1 {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
  text-align: left;
}

.about_text1 {
  color: white;
  width: 50%;
  padding: 50px;
  height: auto;
}

.about_text1 p, .about_text2 p, .about_text3 p {
  text-align: justify;
  line-height: 1.5;
}

.about_image1 {
  background-image: url("https://cdn.glitch.com/473ee194-8456-41ee-baa2-e80952924275%2Fabout_image1.jpg?v=1605613307168");
  background-position: center;
  background-size: cover;
  background-color: lightskyblue;
  width: 50%;
  padding: 50px;
  height: 800px;
}

.about-parent2 {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
  text-align: justify;
}

.about_text2 {
  background-color: white;
  color: black;
  width: 50%;
  height: auto;
  padding: 50px;
}

.about_text3 {
  background-color: black;
  color: white;
  width: 50%;
  height: auto;
  padding: 60px;
  text-align: left;
}

.about_parent3 {
  background-image: url("https://cdn.glitch.com/473ee194-8456-41ee-baa2-e80952924275%2Fabout_image2.jpg?v=1605613310351");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 1000px;
  background-color: lightskyblue;
}

.about_parent4 {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: black;
}

.about_text4 {
  color: white;
  width: 50%;
  height: auto;
  padding: 50px;
  text-align: left;
}

.about_text4 p {
  text-align: justify;
  line-height: 1.5;
}

.about_image4 {
  background-image: url("https://cdn.glitch.com/473ee194-8456-41ee-baa2-e80952924275%2Fabout_image3.jpg?v=1605613313126");
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 800px;
  padding: 50px;
}

.about_parent5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1500px;
  background-color: white;
}

.onecol,
.twocol,
.threecol {
  display: flex;
  justify-content: center;
  align-content: center;
}

.one {
  background-image: url("https://cdn.glitch.com/473ee194-8456-41ee-baa2-e80952924275%2Fabout_image4.jpg?v=1605613313813");
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 300px;
  margin: 10px;
}

.two {
  background-image: url("https://cdn.glitch.com/473ee194-8456-41ee-baa2-e80952924275%2Fabout_image5.jpg?v=1605613315668");
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 300px;
  margin: 10px;
}

.three {
  background-image: url("https://cdn.glitch.com/473ee194-8456-41ee-baa2-e80952924275%2Fabout_image6.jpg?v=1605613317920");
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 300px;
  margin: 10px;
}

.four {
  background-image: url("https://cdn.glitch.com/473ee194-8456-41ee-baa2-e80952924275%2Fabout_image7.jpg?v=1605613319804");
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 300px;
  margin: 10px;
}

.five {
  background-image: url("https://cdn.glitch.com/473ee194-8456-41ee-baa2-e80952924275%2Fabout_image8.jpg?v=1605613324178");
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 300px;
  margin: 10px;
}

.six {
  background-image: url("https://cdn.glitch.com/473ee194-8456-41ee-baa2-e80952924275%2Fabout_image9.jpg?v=1605613324828");
  background-position: right;
  background-size: cover;
  width: 350px;
  height: 300px;
  margin: 10px;
}

.video {
  width: 1090px;
  height: 600px;
  margin-bottom: 50px;
}

.footer-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: black;
  font-size: 18px;
}

.footer-links {
  text-decoration: none;
  height: 20px;
  padding: 20px;
}

/*------------------------Works Page------------------------*/

.works-container {
  padding: 30px;
  height: auto;
}

.work1 img,
.work4 img,
.work5 img,
.work8 img,
.work11 img,
.work12 img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.row1,
.row2,
.row3 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.work2 img,
.work3 img,
.work6 img,
.work7 img,
.work9 img,
.work10 img {
  width: 100%;
  height: 600px;
  margin-bottom: 30px;
}

.overlay {
  width: 100%;
  height: auto;
  transition-property: all;
  transition-duration: 0.5s;
  opacity: 1;
}

.overlay:hover {
  opacity: 0.5;
}

/*---------Individual Work Pages---------*/

.work-image {
  float: left;
  width: 50%;
  padding: 50px;
}

.work-image img {
  width: 100%;
}

.work-text {
  text-align: left;
  float: left;
  width: 50%;
  padding: 50px;
}

.work-text p{
  line-height: 1.5;
}

.work-parent::after {
  content: "";
  clear: both;
  display: table;
}

.footer-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-padding: 20px;
}

.footer-links {
  color: black;
  font-size: 18px;
}

/*------------------------Contacts Page------------------------*/


#loader img {
    width: 100%;
    height: 100%;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -176px 0 0 -176px;
  width: 350px;
  height: 350px;
}

.pinky {
    position: absolute;
    right: 94px;
    bottom: 22px;
    animation-name: pinky;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes pinky {
    0% {transform: translateY(50px)}
    50% {transform: translateY(10px)}
    75% {transform: translateY(50px)}
    100% {transform: translateY(50px)}
}

.ringfinger {
    position: absolute;
    right: 47px;
    bottom: 30px;
    animation-name: ring;
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
}

@keyframes ring {
    0% {transform: translateY(50px)}
    50% {transform: translateY(10px)}
    75% {transform: translateY(50px)}
    100% {transform: translateY(50px)}
}

.middlefinger {
    position: absolute;
    bottom: 28px;
    animation-name: middle;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}

@keyframes middle {
    0% {transform: translateY(50px)}
    50% {transform: translateY(10px)}
    75% {transform: translateY(50px)}
    100% {transform: translateY(50px)}
}

.indexfinger {
    position: absolute;
    left: 47px;
    bottom: 21px;
    animation-name: index;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
}

@keyframes index {
    0% {transform: translateY(50px)}
    50% {transform: translateY(10px)}
    75% {transform: translateY(50px)}
    100% {transform: translateY(50px)}
}

.thumb {
    position: absolute;
    left: 109px;
    top:25px;
    animation-name: thumb;
    animation-duration: 1s;
    animation-delay: 0.35s;
    animation-iteration-count: infinite;
    width: 92%;
    height: 92%;
}

@keyframes thumb {
    0% {transform: translateY(50px)}
    50% {transform: translateY(10px)}
    75% {transform: translateY(50px)}
    100% {transform: translateY(50px)}
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#myDiv {
  display: none;
  text-align: center;
}

.hero {
  background-image: url("https://cdn.glitch.com/473ee194-8456-41ee-baa2-e80952924275%2Fcontacts_image1.jpg?v=1605611593791");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 700px;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 900px;
  padding: 50px;
  background-color: white;
}

.contact-image {
  background-image: url("https://cdn.glitch.com/473ee194-8456-41ee-baa2-e80952924275%2Fcontacts_image2.jpg?v=1605611601628");
  background-position: center;
  background-size: cover;
  width: 50%;
  padding: 20px;
}

form {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  color: black;
}

input[type="username"] {
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px;
  border: none;
  margin-top: 10px;
  font-family: Arial;
}

input[type="useremail"] {
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px;
  border: none;
  margin-top: 10px;
  font-family: Arial;
}

#subject {
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px;
  border: none;
  margin-top: 10px;
  font-family: Arial;
}

textarea[form="usrform"] {
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  height: 230px;
  background-color: #f5f5f5;
  padding: 20px;
  border: none;
  margin-top: 10px;
  font-family: Arial;
}

input[type="submit"] {
  width: 150px;
  height: 40px;
  background-color: #707070;
  color: white;
  font-family: Arimo;
  border: none;
}

/*------------------------Media Queries------------------------*/

@media screen and (max-width: 800px) {
  /*-------Media Query: Home Page-------*/
  .container {
    width: 100%;
    height: 100%;
    font-size: 16px;
  }

  .navbar1 li a {
    padding: 10px;
  }

  footer {
    padding-left: 10px;
  }

  /*-------Media Query: About Page-------*/

  .nav2 {
    flex-direction: column-reverse;
  }

  .navbar2 {
    flex-direction: column;
  }

  .navlinks a {
    color: black;
  }

  .logo {
    text-align: center;
  }

  .menu {
    display: block;
  }

  .icon {
    text-decoration: none;
    color: black;
  }

  .icon:hover {
    color: salmon;
  }

  .nav2.responsive a {
    display: block;
  }

  .about_parent1,
  .about-parent2,
  .about_parent3,
  .about_parent4,
  .about_parent5 {
    flex-direction: column;
    width: 100%;
  }

  .about_parent5 {
    padding: 30px;
  }

  .about_text1,
  .about_image1,
  .about_text2,
  .about_text3,
  .about_text4,
  .about_image4 {
    width: 100%;
  }

  .video {
    margin-left: 10px;
    margin-right: 10px;
    align-self: start;
    justify-self: stretch;
  }

  .footer-about {
    flex-direction: column;
  }

  /*-------Media Query: Works Page-------*/

  .row1,
  .row2,
  .row3 {
    flex-direction: column;
  }

  .work-text,
  .work-image {
    flex: none;
    width:100%;
  }

  /*-------Media Query: Individual Works Page-------*/
  
  /*-------Media Query: Contacts Page-------*/

  .contact-container {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .contact-image,
  form {
    width: 100%;
  }

  .contact-image {
    height: 400px;
  }

  input[type="submit"] {
    width: 100%;
  }
  
}

@media screen and (max-width: 800px) {
  .navlinks a {
    display: none;
  }
}
